.lippb-productname {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	color: #666666;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 20px;
}

.lippb-productversion {
	clear: both;
	font-size: 10px;
	color: grey;
	margin-top: -25px;
	padding-left: 10px;
}

div.lippb-form-container {
	margin-top: -20px;
}

.lippb-formsectionheader {
	margin-top: 20px;
	margin-bottom: -5px;
}

.lippb-formheadertext {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	padding-left: 2px;
}

.lippb-formsectiondivider {
	margin-top: 5px;
}

.lippb-formsectiondivider.lippb-formsectiondividerlessmargin {
	margin-bottom: 10px;
}

p.lippb-forminputexplanation {
	/* font-weight: normal; */
	color: #555555;
	/* margin-top: 0px; */
	padding-left: 2px;
	/* padding-top: 0px; */
	padding-bottom: 10px;
}

.lippb-formsubheader {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 0px;
	padding-left: 2px;
}

.lippb-formsubheadercontent {
	/* margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px; */
	padding-bottom: 10px;
}

.lippb-inlinelabelbutton {
	/* margin-bottom: 5px; */
	cursor: pointer;
}

.list-group-item.disabled {
	cursor: default !important;
}

.list-group-item{
	min-height: 35px;

}

.list-group-item span{
	height: 20px;
	line-height: 14px;
	font-size: 14px;
	margin-right: 0px;
}

.list-group{
	padding-right: 0px;
}

.list-group-item.shown{
	background-color: rgba(105, 133, 183, 0.4) ;
}

.list-group-item.shown:hover{
	background-color: rgba(105, 133, 183, 0.25)
}

body{
	background-color: #FFF;
	color: #454545;
	overflow-y: auto;
}

.nav > li > a{
	color: #454545;
}

.nav > li.active >a {
	font-weight: bold;
}

.col-margined{
	padding-left: 5px;
	padding-right: 5px;
}

.package-container{
	background-color: #FFF;
	margin-top: 10vh;
}

.navbar-btn.pull-right{
	margin-right: 20px;
} 

.hideOverflow
{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details-submenu{
    margin-left: 50px;
}
.details-tab {
	margin-top: 30px;
	margin-bottom: 20px;
}