.lippb-productname {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	color: #666666;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 20px;
}

.lippb-productversion {
	clear: both;
	font-size: 10px;
	color: grey;
	margin-top: -25px;
	padding-left: 10px;
}

div.lippb-form-container {
	margin-top: -20px;
}

.lippb-formsectionheader {
	margin-top: 20px;
	margin-bottom: -5px;
}

.lippb-formheadertext {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	padding-left: 2px;
}

.lippb-formsectiondivider {
	margin-top: 5px;
}

.lippb-formsectiondivider.lippb-formsectiondividerlessmargin {
	margin-bottom: 10px;
}

p.lippb-forminputexplanation {
	/* font-weight: normal; */
	color: #555555;
	/* margin-top: 0px; */
	padding-left: 2px;
	/* padding-top: 0px; */
	padding-bottom: 10px;
}

.lippb-formsubheader {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 0px;
	padding-left: 2px;
}

.lippb-formsubheadercontent {
	/* margin-top: 0px;
	margin-bottom: 0px; */
	/* padding-top: 0px; */
	padding-bottom: 10px;
}

div.lippb-uploadinfo {
	margin-left: 10px;
}

.lippb-inlinelabelbutton {
	/* margin-bottom: 5px; */
	cursor: pointer;
}

.list-group-item.disabled {
	cursor: default !important;
}

.list-group-item{
	min-height: 35px;

}

.list-group-item span{
	height: 20px;
	line-height: 14px;
	font-size: 14px;
	margin-right: 0px;
}

.list-group{
	padding-right: 0px;
}

.list-group-item.shown{
	background-color: rgba(105, 133, 183, 0.4) ;
}

.list-group-item.shown:hover{
	background-color: rgba(105, 133, 183, 0.25)
}

body{
	background-color: #FFF;
	color: #454545;
	overflow-y: auto;
}

.nav > li > a{
	color: #454545;
}

.nav > li.active >a {
	font-weight: bold;
}

.col-margined{
	padding-left: 5px;
	padding-right: 5px;
}

.package-container{
	background-color: #FFF;
	margin-top: 10vh;
}

.navbar-btn.pull-right{
	margin-right: 20px;
} 

.hideOverflow
{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details-submenu{
    margin-left: 50px;
}
.details-tab {
	margin-top: 30px;
	margin-bottom: 20px;
}


/* Callouts. From Twitter bootstrap but not part of the distribution. So added manually here. */
/* ------------------------------------- */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* ------------------------------------- */